@use "sass:math";
@use "../../foundation/variables";
@use "../../foundation/general";

/*********************************************************


Content


**********************************************************/

.c-content {
  @extend .clearfix;
  font-size: 1rem;
  p {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }
  h1 {
    font-size: math.div(24, 16) * 1em;
    margin-top: 1.3em;
    margin-bottom: 1em;
    border-bottom: 1px solid variables.$c_main;
    padding-bottom: 0.1em;
  }
  h2 {
    font-size: math.div(20, 16) * 1em;
    margin-top: 1.3em;
    margin-bottom: 1em;
    border-left: 4px solid variables.$c_main;
    padding-left: 0.6em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
  }

  h3,
  h4 {
    font-size: math.div(18, 16) * 1em;
    margin-top: 1em;
    margin-bottom: 0.7em;
  }
  h5,
  h6 {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-size: 1em;
  }
  a {
    color: variables.$c_main;
    text-decoration: underline;
  }
  strong {
    font-weight: 600;
  }
  sup {
    font-size: 0.6em;
    vertical-align: super;
  }
  sub {
    font-size: 0.6em;
    vertical-align: bottom;
  }
  blockquote {
    padding-left: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 1.5em;
      top: 0;
      bottom: 0;
      border-left: 2px solid;
      opacity: 0.5;
    }
  }
  hr {
    display: block;
    background: none;
    border: none;
    border-top: 1px solid;
    opacity: 0.5;
    margin: 2.5em auto;
    width: 80%;
  }
  // ブロック
  .wp-block-gallery {
    padding-left: 0;
  }
  .wp-block-image,
  .wp-block-embed {
    figcaption {
      color: inherit;
      font-size: math.div(13, 16) * 1rem;
      line-height: 1.4;
      opacity: 0.7;
      text-align: left;
      margin-top: 0.7em;
    }
  }
  .wp-block-image {
    margin-top: 2em;
    margin-bottom: 2em;
    img {
      vertical-align: bottom;
    }
  }
  iframe {
    max-width: 100%;
  }
  .wp-block-embed {
    margin-top: 2em;
    margin-bottom: 2em;
    &.is-type-video {
      .wp-block-embed__wrapper {
        padding-top: math.div(9, 16) * 100%;
        position: relative;
        height: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
