@use "sass:map";
@use "../../foundation/variables";

/*********************************************************


Icon


**********************************************************/
/* -----------------------------
    close menu
*/
.c-icon-close {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;

  &::before,
  &::after {
    content: '';
    width: 100%;
    border-top: 2px solid;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.is-small {
    &::before,
    &::after {
      border-width: 1px;
      margin-top: -0.5px;
    }
  }
  @media #{map.get(variables.$max, md)} {
    &::before,
    &::after {
      border-width: 2px;
      margin-top: -1px;
    }
  }
}

/* -----------------------------
    kebab menu
*/
.c-icon-kebab {
  position: relative;
  i,
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: currentColor;
    border-radius: 4px;
    margin-top: -4px;
    margin-left: -4px;
  }
  &::before {
    transform: translateX(-15px);
  }
  &::after {
    transform: translateX(15px);
  }
  @media #{map.get(variables.$max, md)} {
    i,
    &::before,
    &::after {
      width: 5px;
      height: 5px;
      margin-top: -2px;
      margin-left: -2px;
    }
    &::before {
      transform: translateX(-8px);
    }
    &::after {
      transform: translateX(8px);
    }
  }
}
/* -----------------------------
    angle
*/
%c-icon-angle {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &::after {
    content: '';
    border-top: 2px solid;
    border-left: 2px solid;
    width: 8px;
    height: 8px;
    @media #{map.get(variables.$max, md)} {
      border-width: 3px;
      width: 6px;
      height: 6px;
    }
  }
}
.c-icon-angle--bottom {
  @extend %c-icon-angle;
  &::after {
    transform: translateY(-27%) rotate(-135deg);
  }
}
.c-icon-angle--top {
  @extend %c-icon-angle;
  &::after {
    transform: translateY(10%) rotate(45deg);
  }
}
.c-icon-angle--left {
  @extend %c-icon-angle;
  &::after {
    transform: translateX(25%) rotate(-45deg);
  }
}
.c-icon-angle--right {
  @extend %c-icon-angle;
  &::after {
    transform: translateX(-25%) rotate(135deg);
  }
}
/* -----------------------------
    Loading
*/
.c-icon-loading {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid;
  }
  &::after {
    border-top-color: transparent;
    border-left-color: transparent;

    animation: spin 0.75s infinite linear forwards;
    z-index: 1;
  }
  &::before {
    border-color: transparent;
    border-bottom-color: currentColor;
    border-right-color: currentColor;
    animation: spin 1s infinite linear forwards;
  }
  &.is-color-main {
    color: variables.$c_main;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
