@use 'sass:map';
@use '../foundation/variables';

/*********************************************************


 Footer


**********************************************************/

.l-footer {
  position: relative;
  text-align: center;
  background-color: variables.$c_base_gray_dark;
  color: variables.$c_base;
  padding: 70px 5%;
  @media #{map.get(variables.$max, md)} {
    padding: 40px 5%;
  }
}
