/*********************************************************


 Header
 Gnavi


**********************************************************/
.l-header {
  text-align: left;
  border-bottom: 1px solid;
  padding: 2rem;
}
