@use 'sass:map';
@use '../foundation/variables';

/*********************************************************


 Page


**********************************************************/
/****************************************

         Header

*****************************************/
.l-page-header {
  padding-top: 3vw;
  padding-bottom: 3vw;
  min-height: 80px;
  border-bottom: 1px solid variables.$c_line_gray;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  @media #{map.get(variables.$max, md)} {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.l-page-header__title {
  font-size: 2rem;
  @media #{map.get(variables.$max, md)} {
  }
}

/****************************************

         Content

*****************************************/
.l-page-content {
  padding-top: 5em;
  padding-bottom: 7em;
  @media #{map.get(variables.$max, md)} {
    padding-top: 1.5em;
    padding-bottom: 5em;
  }
}
.l-page-content--no-margin--top {
  padding-bottom: 7em;
  @media #{map.get(variables.$max, md)} {
    padding-bottom: 5em;
  }
}
.l-page-content--no-margin--bottom {
  padding-top: 5em;
  @media #{map.get(variables.$max, md)} {
    padding-top: 1.5em;
  }
}
